.inputControl {
    height: 50px;
    border-radius: 8px;
    padding: 0 16px;
    background: #fff;
    border: 1px solid #a8a8b3;

    &:focus {
        outline: none;
        border: 2px solid #835afd;
    }
}